<%-# This is a partial file, partials are identified by the '_' (underscore) in the beginning of the file name. %>
<%-# Partials are created to take away reduntant code %>
<%-# the new and edit views are the same so we create a parital to solve that %>

<!-- The partial for validations exists in shared/_errors.html.erb, go there to check out how it works! -->
<%-# Looks for the errors partial which checks the validations based on the setup in Article model. %>
<%= render 'shared/errors', obj: @article %>

<div class="row">
  <div class="col-xs-12">
    <!-- form_for is a generator just like link_to and it takes in a hash called :html which is the only way to change the
    settings in form_for, any other way jams the server and the form is not submitted... the :html hash takes
    in a 'class' so that we can modify it according to bootstrap standards and a 'role' which in this case is form. -->

    <%- # @article is just an instance variable that has been initiated in the ArticlesController new action %>
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <!-- We are working with the title and description attributes which is stored in variable 'f'so f.html_tag is set to
      (:symbol - in this case - :title and :description) because it is recording whatever put in the html_tag of
      (attribute type :symbol) so that it can be validated by the model and stored in the db as such. -->
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :title %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :description %>
        </div>
        <div class="col-sm-8">
          <%-# the rows: attribute changes the size of the text_area %>
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article" %>
        </div>
      </div>
      <div class="form-group">
        <%-# col-sm-offset-* moves columns in the grid system to the right by the number provided replacing '*' %>
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
    <% end %>

    <div class="col-xs-4 col-xs-offset-4">
      [ <%= link_to "Cancel request and return articles listing", articles_path %> ]
    </div>

  </div>
</div>
