<h1 align="center">Listing Articles</h1>

<%-# |article| holds each article object %>
<%-# because in the index action of the ArticlesController @articles holds all articles %>
<%-# Python syntax would be like (for article in @articles:...) %>
<% @articles.each do |article| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to article.title[0].capitalize + article.title[1, article.title.length], article_path(article) %>
        </div>
        <div class="article-body">
          <!-- We do not want to display the entire article on listing page so we only show upto the 100th character using
          the truncate method. -->
          <%= truncate(article.description, length: 100) %>
        </div>
        <div class="article-actions">
          <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this article", article_path(article), method: :delete,
                                             data: { confirm: "Are you sure you wantto delete the article?"},
                                             class: "btn btn-xs btn-danger " %>
        </div>
        <!-- <div class="aritcle-design">
          <p><%= "-" * 130 %></p>
        </div> -->
      </div>
    </div>
  </div>
<% end %>
