<h1>Listing Articles</h1>
<p>
  <%= link_to "Create new article", new_article_path %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <%-# |article| holds each article, because in the index action of the ArticlesController @articles holds all articles %>
  <%-# Python syntax would be like (for article in @articles:...) %>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <%-# Since the edit and show both take id's in their URIs %>
      <%-# we pass in the argument of 'article' which holds each article %>
      <%-# edit_article_path(article) this is like saying path(id) %>
      <td><%= link_to "Edit", edit_article_path(article) %></td>
      <td><%= link_to "Show", article_path(article) %></td>
      <%-# The delete looks very similar to the 'link_to show', so we specify its a delete by doing: %>
      <td><%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}%></td>
      <%-# Saying that it is responding to the delete method/action in ArticlesController and then a confirm message.%>
    </tr>
  <% end %>

</table>
