<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Creating a partial for the flash message because it is good to keep as less code in the application.html.erb
         as possible, to see how the flash message ruby code go to _messages.html.erb.

         We have to specify the directory because by default it is looking through the articles directory in views.-->

    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
